# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDE
.idea/
.vscode/

# Other
.env
db.sqlite3
logs/
